{# tutorial/templates/tutorial/bulk_update.html #}
{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %}Bulk update{% endblock title %}

{% block content %}
  <form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary red" type="submit">Submit</button>
  <a href="{% url 'people' %}" class="btn btn-secondary" role="button">Return to people</a>
  <form>
{% endblock content %}

{% block domready %}
  // read checked items
  $.post(
    '{% url "bulk:list"%}',
    {},
    function( data ) {
      console.log(data.person_ids);
    }
  );

{% endblock domready %}
